<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants" method="GET" id="restaurantForm">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="row justify-content-between">
          <div class="col-8">
            <div class="input-group col-4">
              <input type="text" name="search" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
                value="{{keyword}}" aria-describedby="search-button">
              <div class="input-group-append">
                <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <select class="form-select" name="sort" id="sort-select" onchange="submitForm()">
              <option {{#if selectedSort}} selected disabled {{/if}}>Sort</option>
              <option value="1" {{#if (isEqual selectedSort '1')}} selected {{/if}}>A-Z</option>
              <option value="2" {{#if (isEqual selectedSort '2')}} selected {{/if}}>Z-A</option>
              <option value="3" {{#if (isEqual selectedSort '3')}} selected {{/if}}>類別</option>
              <option value="4" {{#if (isEqual selectedSort '4')}} selected {{/if}}>地區</option>
              <option value="5" {{#if (isEqual selectedSort '5' )}} selected {{/if}}>評分</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      {{#if restaurants}}
      <div class="row row-cols-sm-3">
          {{#each restaurants as |restaurant|}}
          <div class="mb-3">
            <div class="card">
              <a href="/restaurants/{{restaurant.id}}" class="text-secondary">
                <img class="card-img-top" src="{{restaurant.image}}" alt="{{restaurant.name}}">
              </a>
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{restaurant.name}}</h6>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{restaurant.category}}
                </div>

                <span class="badge rounded-pill bg-danger font-weight-normal">
                  {{restaurant.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
              <div class="card-footer align-items-center">
                <a href="/restaurants/{{restaurant.id}}/edit" class="btn btn-outline-primary btn-sm">Edit</a>
                <a href="/restaurants/{{restaurant.id}}" class="btn btn-outline-success btn-sm">Detail</a>
                <button class="btn btn-outline-danger btn-sm" onclick="confirmDelete({{restaurant.id}})">Delete</button>
                <form id="deleteForm_{{restaurant.id}}" action="/restaurants/{{restaurant.id}}?_method=DELETE" method="POST"
                  style="display: none;">
                  <button type="submit"></button>
                </form>
              </div> 
            </div>
          </div>
          {{/each}}
      </div>
      {{else}}
        <div class="text-center">
          <h4>無任何餐廳資訊</h4>
        </div>
      {{/if}}
    </div>
  </div>

  {{#if restaurants}}
  <ul class="pagination justify-content-center mt-1">
    <li class="page-item {{#if prevDisabled}} disabled {{/if}}">
      <a class="page-link" href="/restaurants?search={{keyword}}&sort={{selectedSort}}&page={{prevPage}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    {{#each pages}}
      <li class="page-item"><a class="page-link" href="/restaurants?search={{../keyword}}&sort={{../selectedSort}}&page={{this}}">{{this}}</a></li>
    {{/each}}

    <li class="page-item {{#if nextDisabled}} disabled {{/if}}">
      <a class="page-link" href="/restaurants?search={{keyword}}&sort={{selectedSort}}&page={{nextPage}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  {{/if}}
</div>